<% layout('layouts/boilerplate') %>


    <div class="row mt-5">
        <p><img src="/images/jobs/<%= job.icon %>"  class="img-fluid"/> <%= job.name %></p>
    </div>
    <div class="row my-5">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <form action="/xivjobs/<%= job.id %>?_csrf=<%= token %>&_method=PUT" method="POST" class="validateForm d-inline" enctype="multipart/form-data" novalidate>
                
                <!-- --------------------------------------- JOB NAME ----------------------------------------------- -->
                <div class="mb-3">
                    <label for="name" class="form-label">Job Name</label>
                    <input type="text" class="form-control" id="name" name="job[name]" value="<%= job.name %>">
                </div>
            


                <!-- --------------------------------------- JOB ABBREVIATION ----------------------------------------------- -->
                <div class="mb-3">
                    <label for="abbrv" class="form-label">Job abbreviation (i.e. WAR, WHM. etc)</label>
                    <input type="text" class="form-control" id="abbrv" name="job[abbrv]"  value="<%= job.abbrv %>">
                </div>  


                <!-- --------------------------------------- JOB NAME ----------------------------------------------- -->
                <div class="mb-3">
                    <label for="emoji" class="form-label">Job Discord emoji</label>
                    <input type="text" class="form-control" id="emoji" name="job[emoji]"  value="<%= job.emoji %>">
                </div>




                <!-- --------------------------------------- JOB TYPE ----------------------------------------------- -->
                <div class="mb-3">
                    <label for="type"  class="form-label">Job Type (detailed classification)</label>
                    <select class="form-select" name="job[type]" id="type">
                        <option value="tank" <%=job.type ==="tank" ? 'selected' : "" %>>Tank</option>
                        <option value="healer" <%=job.type ==="healer" ? 'selected' : "" %>>Healer</option>
                        <option value="melee" <%=job.type ==="melee" ? 'selected' : "" %>>Melee DPS</option>
                        <option value="prdps" <%=job.type ==="prdps" ? 'selected' : "" %>>Physical Randged DPS</option>
                        <option value="mrdps" <%=job.type ==="mrdps" ? 'selected' : "" %>>Magical Ranged DPS</option>
                        <option value="limited" <%=job.type ==="limited" ? 'selected' : "" %>>Limited</option>
                    </select>
                </div>


                <!-- --------------------------------------- JOB ROLE ----------------------------------------------- -->
                <div class="mb-3"  class="form-label">
                    <label for="role">Job Role (Generic matching role)</label>
                    <select class="form-select" name="job[role]" id="role">
                        <option value="tank" <%=job.role ==="tank" ? 'selected' : "" %>>Tank</option>
                        <option value="heal" <%=job.role ==="heal" ? 'selected' : "" %>>Healer</option>
                        <option value="dps" <%=job.role ==="dps" ? 'selected' : "" %>>DPS</option>
                        <option value="limited" <%=job.role ==="limited" ? 'selected' : "" %>>Limited</option>
                    </select>
                </div>



        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            
                <!-- --------------------------------------- JOB IMAGE ----------------------------------------------- -->
                <div class="mb-3">
                    <label class="form-label" for="image">32 x 32 Job Icon</label>
                    <input class="form-control" type="file" name="job[icon]" />
                </div>


        
                <!-- --------------------------------------------------------Description------------------------------------------------------- -->
                <div class="mb-3">
                    <label for="editor" class="form-label">Job Description</label>
                    <div class="pell" id="editor"></div>
                    <textarea class="chg-hide" name="job[description]" id="html-output"><%- job.description %></textarea>
                </div>
        
        </div>
    <div class="row">

        <div class="col-sm-12 col-md-12 col-lg-6">
            <button class="btn btn-primary">Submit</button>
        </form>
            <a href="/xivjobs" class="btn btn-secondary">Back to Jobs list</a>
            <form action="/xivjobs/<%= job.id %>?_method=DELETE" class="d-inline float-end" method="POST">
                <input type="hidden" name="_csrf" value="<%= token %>">
                <button class="btn btn-danger">Delete</button>
            </form>

        </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">



    </div>

    </div>



  <%- include("../partials/pelljs.ejs")%>