<% layout('layouts/boilerplate') %>

<% if(noData !==""){ %>
    <div class="alert alert-warning alert-dismissible fade show text-center">
      <%- noData %>
    </div>
    <div class="text-center">
      <a href="/duties"  class="btn btn-large btn-success">Take me to the duties!</a>
    </div>
<% }  else { %>
  <h1 class="chg-main-font text-center">Currently Scheduled events below</h1>
    <div class="row mt-3 mb-5 row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
      <% for (let event of events) { %>
        <div class="col">
          <div class="card h-100 chg-card-dark ">
            <div class="chg-card-img-container">
              

                <% if(event.cancelled === "true") { %>

                
                <% } else { %>
                  <a href="/events/<%= event.id %>">
                    <img class="chg-card-img-top" src="<%= imagePath %><%= event.duty.image %>" alt="<%= event.duty_name %>">      
                    <i class="fas fa-arrow-right"></i>
                  </a>
                <% } %>


               
                
                
 
            </div>
            
            <div class="card-body chg-card-dark">
              <h5 class="card-title">
                <%= event.name %>
              </h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item chg-card-dark"><b>Date:</b> <%= event.date.toString().slice(0, 15) %></li>
              <li class="list-group-item chg-card-dark"><b>Time:</b> <%= event.time.toString().slice(0, -3) %> <%= event.morningOrNight.toUpperCase() %> EST</li>
              <li class="list-group-item chg-card-dark"><b>ID: </b><%= event.id %></li>
              <li class="list-group-item chg-card-dark"><b>Leader:</b> <%= event.leader %></li>
            </ul>

            <div class="card-footer">
              <a href="/events/<%= event.id %>" class="btn chg-btn-primary">See more details</a>
              <a href="/events/<%= event.id %>/edit" class="btn chg-btn-secondary float-end">Edit this event</a>
            </div>
          </div>
        </div>
        <% } %>
    </div>

  <div class="mb-5">
    <%- include("../partials/pagination.ejs")%>
  </div>
  <% } %>

